#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}
.app {
  width:100%;
  flex: 1;
}
.header {
  align-self: self-start;
}
.widgets {
  box-sizing: border-box;
  border: solid gray;
  margin: 5px;
  border-width: 10px;
  min-height: 30vb;
  min-width: 30vb;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}
.divider {
  border: solid black;
  border-width: 1px;
}
.addfood {
  width:20vb;
  height: 40vb;
}
.horizontalListOfBoxes {
  list-style-type: none;
  display: inline-flex;
  column-gap: 10px;
}
.verticalListOfBoxes {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding: 0;
}
.listItemInBox {
  background-color:cornsilk;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  width: 200px;
}
#userNotFoundMessage, #userExists{
  color: red;
}
.button {
  margin: 20px;
}
.input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}
.loginIcon {
  position: relative;
  right: 40px;
}
.inputContainer {
  display: flex;
  align-items: center;
  margin: 10px;
}
