#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  
}
.app {
  width:100%;
  flex: 1;
  padding: 20px;
  
}
.header {
  align-self: self-start;
  margin: 10px;
}
select, #heightField, #birthdateField, #initialWeightField {
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  color: #333; 
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  cursor: pointer;
}
select:hover {
  border-color: #666; 
}

select:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem 2rem;
  align-items: center;
}

#customFood {
  display: grid;
  grid-template-columns: 40px 180px;
  gap: 10px;
}

.form-grid label {
  justify-self: end;
}

.form-grid input,
.form-grid select {
  width: 100%;
  box-sizing: border-box;
}
.delete_btn_weight {
  margin-left: auto; 
  align-content: center;
}
#myEntries {
  text-align: left;
}
.widgets {
  box-sizing: border-box;
  border: solid gray;
  margin: 5px;
  padding: 5px;
  border-width: 10px;
  height: 40vb;
  width: 50vb;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.widgets a{
  justify-content: center;
  width: 100%;
}
.caloriesWidget {
  display: block;
  justify-self: center;
  align-self: center;
  height:100%;
}
.caloriesWidgetBar {
  max-height: 60%;
  max-width: 60%;
  justify-self: center;
  align-self: center;
  margin:auto;
}
.widgets#weightWidget {
  height: 300px;
}
.nutritionHeader {
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}
.divider {
  border: solid black;
  border-width: 1px;
}
.addfood {
  min-height: 40vb;
  border: solid black;
  border-radius: 10%;
  margin: 5px;
  padding: 10px;
}
#deleteFoodBtn {
  margin: 10px;
}
.horizontalListOfBoxes {
  display: flex;
  list-style-type: none;
  width: 100%; 
  max-width: 800px; 
  height: 330px;
  white-space: nowrap;
  column-gap: 10px;
  align-items: center;
  padding: 0;
  overflow-x: auto;
}
.verticalListOfBoxes {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding: 0;
}
.listItemInBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:cornsilk;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  max-width:450px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

#myWorkoutCtn {
  height: 270px;
  overflow-y: auto;
}
#userNotFoundMessage, #userExists, .invalidFields{
  color: red;
}

.buttonContainer {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#training_log_ctn {
  max-width: 350px;
}
.input {
  height: 100%;
  width: 100%;
  background: transparent;
  outline: none;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}
.loginIcon {
  position: relative;
  right: 40px;
}
.inputContainer {
  display: flex;
  align-items: center;
  margin: 10px;
}
.caloriesDateNav {
  display: flex;
  justify-content: space-evenly;
}
.weightContainer {
  display: flex;
  flex-direction: column;
}
.chartContainer {
  margin: 20px;
}
.registerHeader {
  margin: 10px;
}
.workoutPlanFormContent {
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width:fit-content;
  margin: auto;
  align-self: center;
}
.listWithNoPointers {
  list-style-type: none;
  padding: 10px;
}
.exerciseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exerciseListItem {
  margin-bottom: 20px;
}
.weightHistoryContainer {
  width: 100%;
}
.weight_details_ctn {
  margin: 0px 30px 0px 0px;
  align-content: center;
  text-align: left;
}
.no_margin {
  margin: 0
}
.spacingBelow {
  margin-bottom: 1rem; 
}
.highlighted {
  cursor: pointer;
  color: #007bff;
}
.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.radio-button-container input[type="radio"] {
  display: none;
}

.radio-button-container input[type="radio"]:checked + label {
  background-color: #007bff; 
  color: rgb(139, 88, 88); 
  border-color: #007bff;
}

.OrLineBreak {
  display: flex; 
  align-items: center;
  text-align: center;
  margin: 10px 0;
}
.AddFoodPopup {
  border: solid;
  padding: 10px;
  background: rgb(37, 37, 37);
  color: white;
}

.OrLineBreak > hr {
  flex-grow: 1;
}
.OrLineBreak > span {
  flex-grow: 0.25;
}

.AI_Scanner_ctn {
  position: fixed;
  width: 100%;
  margin-bottom: 50px;
  margin-right: 50px;
  bottom: 0;
  align-self: flex-start;
  justify-self: center;
  justify-content: end;
}
.AI_Scanner_btn {
  justify-self: end;
}
.hover-text {
  visibility: hidden;
  background-color: black;
  color: white;
  justify-self: end;
  max-width: 100px;
  padding: 5px;
}
dialog::backdrop {
  opacity: 0.2;
  background-color: gray;
}
.caloriesDateNav > input[type="date"] {
  border-style: solid;
  border-radius: 10%;
  border-color: lightgray;
  padding:10px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
}
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.FriendEntry {
  list-style-type: none;
  display: flex;
  text-align: left;
  align-content: center;
  margin: 15px;
}
#friendName {
  align-self: center;
  margin:10px;
}
.buttonContainerFriend, #statusText {
  display: inline;
  margin-left: auto;
}
#statusText {
  margin-top: 10px;
}
#FriendEntryProfilePic {
  height: 50px;
  width: 50px;
}
.badgeItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.rightContent {
  text-align: left;
  margin-left: 10px;
}
#dialogBox {
  max-width: 800px;
}