#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}
.app {
  width:100%;
  flex: 1;
}
.header {
  align-self: self-start;
}
.widgets {
  box-sizing: border-box;
  border: solid gray;
  margin: 5px;
  border-width: 10px;
  min-height: 30vb;
  min-width: 30vb;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}
.divider {
  border: solid black;
  border-width: 1px;
}
.addfood {
  min-height: 40vb;
  border: solid black;
  border-radius: 10%;
  margin: 5px;
  padding: 10px;
}
#deleteFoodBtn {
  margin: 10px;
}
.horizontalListOfBoxes {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 0;
}
.verticalListOfBoxes {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding: 0;
}
.listItemInBox {
  background-color:cornsilk;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
#userNotFoundMessage, #userExists, .invalidFields{
  color: red;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}
.loginIcon {
  position: relative;
  right: 40px;
}
.inputContainer {
  display: flex;
  align-items: center;
  margin: 10px;
}
.caloriesDateNav {
  display: flex;
  justify-content: space-evenly;
}
.weightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chartContainer {
  margin: 20px;
}
.registerHeader {
  margin: 10px;
}
.workoutPlanFormContent {
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width:fit-content;
  margin: auto;
  align-self: center;
}
.listWithNoPointers {
  list-style-type: none;
  padding: 10px;
}
.exerciseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exerciseListItem {
  margin-bottom: 20px;
}
.weightHistoryContainer {
  width: 100%;
}
.spacingBelow {
  margin-bottom: 1rem; 
}


.radio-button-container input[type="radio"] {
  display: none;
}

.radio-button-container input[type="radio"]:checked + label {
  background-color: #007bff; 
  color: rgb(139, 88, 88); 
  border-color: #007bff;
}

.OrLineBreak {
  display: flex; 
  align-items: center;
  text-align: center;
  margin: 10px 0;
}
.AddFoodPopup {
  border: solid;
  padding: 10px;
  background: rgb(37, 37, 37);
}

.OrLineBreak > hr {
  flex-grow: 1;
}
.OrLineBreak > span {
  flex-grow: 0.25;
}